@media (prefers-color-scheme: dark) {
    :root {
        --link-color: rgb(110, 182, 234);
        --link-hover-color: rgb(151, 201, 237);
    }

    body {
        background-color: black;
        color: white;
    }

    a[href] {
        color: var(--link-color);
    }

    a[href]:hover {
        color: var(--link-hover-color);
    }
}

body {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(207, 162, 99);
}

h2 {
    filter: hue-rotate(20deg);
}

h3 {
    filter: hue-rotate(40deg);
}

h4 {
    filter: hue-rotate(60deg);
}

h5 {
    filter: hue-rotate(80deg);
}