:root {
    --text-size: 12pt;
    --icon-size: 16pt;
    --body-width: 40em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --link-color: rgb(110, 182, 234);
        --link-hover-color: rgb(151, 201, 237);
        --table-border: hsl(0deg 0% 25%);
        --icon-filter: invert(100%);
    }

    body {
        background-color: #1f1f1f;
        color: white;
    }

    a[href] {
        color: var(--link-color);
    }

    a[href]:hover {
        color: var(--link-hover-color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --table-border: hsl(0deg 0% 75%);
        --icon-filter: invert(0%);
    }
}

@media (max-width: 400px) {
    footer,
    header,
    main {
        padding: 1em;
    }
}

body {
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: var(--text-size);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    max-width: var(--body-width);
}

.banner {
    max-width: 100vw;
    overflow: hidden;
    width: var(--body-width);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(207, 162, 99);
}

h1 {
    text-align: center;
}

h2 {
    filter: hue-rotate(20deg);
    padding-top: 3ex;
}

h3 {
    filter: hue-rotate(40deg);
    padding-top: 1ex;
}

h4 {
    filter: hue-rotate(60deg);
}

h5 {
    filter: hue-rotate(80deg);
}

hr {
    background: #1f1f1f;
    background-image: linear-gradient(to right, #1f1f1f, #c0c0c0, #1f1f1f);
    border: 0;
    height: 1px;
    margin: 4ex;
}

footer {
    text-align: center;
}

footer hr {
    margin-top: 12ex;
}

table,
th,
td {
    border-width: 1px;
    border-style: solid;
    border-color: var(--table-border);
    border-collapse: collapse;
    font-size: var(--text-size);
}

th,
td {
    padding: 9pt;
}

.t-icons>tbody>tr>td:nth-child(n+2) {
    text-align: center;
}

.link-cloud {
    content: url("./static/download-cloud.svg");
    height: var(--icon-size);
    filter: var(--icon-filter);
}

.link-gd {
    content: url("./static/google-drive.svg");
    height: var(--icon-size);
    filter: var(--icon-filter);
}

.link-ne {
    content: url("./static/new-element.svg");
    height: var(--icon-size);
    filter: var(--icon-filter);
}

.link-yt {
    content: url("./static/youtube.svg");
    height: var(--icon-size);
    filter: var(--icon-filter);
}

.link-rg {
    content: url("./static/rctgo.svg");
    height: var(--icon-size);
    filter: var(--icon-filter);
}

.tag-with {
    font-size: small;
    opacity: 80%;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1rem;
}
